
  <div class="banner">
	<ul>
		<li><%= image_tag "armando.png" %></li>
		<li><%= image_tag "headlines.png" %></li>
		<li><%= image_tag "milford.png" %></li>
	</ul>
  </div>

  <div class="supporting">
   <div class="container col-sm-8 col-sm-offset-2">	
  	<h1>I want to bring colorful, useful web design to everyone.</h1>
  	<p>If you have a dream to make real, I believe in it too, because having a dream is what brought me to web development in the first place. Beautiful web design and effortless functionality should be the universal connection between creators and consumers.</p>
   </div>	
  </div>

  <div class="portfolio">
   <div class="container">
   	<ul>
   		<li class="block">
   			<a href="#"><%= image_tag "headlines2.png" %></a>
   			<span>
   				<h3>Headlines</h3>
   				<p>Breaking news site with a responsive picture grid.</p>
   			</span>
   		</li>
   		<li class="block">
   			<a href="#"><%= image_tag "headlines2.png" %></a>
   			<span>Headlines</span>
   		</li>
   		<li class="block">
   			<a href="#"><%= image_tag "headlines2.png" %></a>
   			<span>Headlines</span>
   		</li>
   		<li class="block">
   			<a href="#"><%= image_tag "headlines2.png" %></a>
   			<span>Headlines</span>
   		</li>
   	</ul>
   </div>	
  </div>


