<!DOCTYPE html>
<html>
<head>
  <title>PortfolioApp</title>
   <link href='https://fonts.googleapis.com/css?family=Roboto:500,100,300,700' rel='stylesheet' type='text/css'>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


</head>
<body>

<div class="header">
  <div class="row">
	<div class="navigation col-sm-6">
		<ul class="nav">
			<li><a href="#">Portfolio</a></li>
			<li><a href="#">Philosophy</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">Blog</a></li>
			<li><a href="#">Contact</a></li>
		</ul>
	</div>	
	<div class="title col-sm-6">
		<h3>Rachel Lanagan</h3>
		<p>Web Design &amp; Development</p>
	</div>

  </div>	
</div>

<%= yield %>

<div class="footer">
  <div class="row">
  	<div class="social">
  		<ul>
  			<li>&copy; Rachel Lanagan 2015</li>
  			<li><%= image_tag "github10.png" %></li>
  			<li><%= image_tag "linkedin1.png" %></li>
  			<li><%= image_tag "logo22.png" %></li>
  		</ul>
  	</div>
  </div>
</div>

</body>
</html>
